body {
    background-image: url("../images/paws-bg.jpg");
}

#text-display {
    background-color: rgb(235, 233, 146);
}

#gamename {
    font-family: 'Acme', sans-serif;
    font-size: 60px;
}

#cards {
    font-family: 'Roboto', sans-serif;
}

#gamerule {
    font-size: 40px;
}

.question {
    font-size: 25px;
    color: rgb(10, 10, 104);
}

.choices {
    font-style: italic;
}

.choices:hover {
    color: orangered;
    font-size: 25px;
    font-weight: bold;
}

.answer {
    font-style: italic;
    font-size: 25px;
    color: rgb(99, 6, 99);
    text-decoration-line: underline;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.answerimg {
    width: 250px;
}